<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMUMA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EMUMA.My.MySettings.emumaConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\project\EMUMA\emuma.mdb;Persist Security Info=True;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
        <add name="EMUMA.My.MySettings.emumaConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\emuma.mdb;Persist Security Info=True;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EMUMA.My.MySettings>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
        </EMUMA.My.MySettings>
    </userSettings>
</configuration>